In [1]:
%autosave 0

Autosave disabled

In [42]:
#Import dependencies
import pandas as pd
import seaborn as sns
import datetime as dt

In [4]:
#Declare the common path for the files, and read them in
path = '../../data/prepared/'

train = pd.read_csv(path + 'train_data.csv')
train_labels = pd.read_csv(path + 'train_labels.csv')

train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [7]:
#Merge the labels to the features
train = train.merge(train_labels, how='left', on='customer_ID')

train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,0

In [43]:
#Define a small function to return a datetime object from a string
def datetimer(string):
    return dt.datetime.strptime(string, '%Y-%m-%d')

In [44]:
#Apply my function to the date column
train['S_2'] = train['S_2'].apply(datetimer)

In [45]:
#Create a dataframe of the earliest date for each customer
min_dates = pd.DataFrame(train.groupby('customer_ID').S_2.min())

min_dates.head()

                                                          S_2
customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fb... 2017-03-09
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db... 2018-02-13
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef... 2017-03-11
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773... 2017-03-17
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe... 2017-03-13

In [46]:
#Rename the column to min_dates
min_dates.rename(columns={'S_2': 'min_dates'}, inplace=True)

In [47]:
#Merge my min_dates column back to the main dataframe
train = train.merge(min_dates, how='left', on='customer_ID')

In [48]:
#Calculate an age column, and return the number of days
train['age'] = (train['S_2'] - train['min_dates']).dt.days

In [49]:
#Drop the columns that are no longer needed
train.drop(columns=['S_2', 'min_dates'], inplace=True)

In [50]:
#Check my work was successful
train.head()

,customer_ID,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target,age
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,NaN,...,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,0,29
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,NaN,...,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,0,80
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,NaN,...,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,0,96
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,NaN,...,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,0,129

In [5]:
#Define the categorical columns
cat_columns = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']

## Features to engineer for columns with clear patterns

P_4, D_42, D_49, D_53, D_55, D_61, D_75, D_134, D_137, B_16, B_20, R_2, R_4, R_5, R_6

P_4: many defaulting customers begin at 1 and end at 0, this feature is captured by the max of the feature

D_42: presence of values indicates default, encode binary column - if all values in column are null, return 0, else 1

D_49: same as above, encode binary column - if all values are null, return 0, else 1

D_53: higher values associated with default, positive change near end of account, take slope of recent 6-9 months

D_55: greater positive slopes for accounts that default, take most recent value minus initial value

D_61: higher values associated with default, nothing useful to encode

D_75: higher values associated with default, nothing useful to encode

D_134 through D_138: presence of values is indicative of default, binary column for all null = 0 else 1

B_16: greater positive slopes are associated with default, take slope of line and/or recent value minus initial value

B_19: large values associated with default, max() will capture this

B_20: greater positive slopes are associated with default, take slope of line and/or recent value minus initial value

R_2, R_4: having a value of 1 at any time is indicative of default, this will be captured by taking the max of the feature

R_5, R_6: having a value greater than 0 is indicative of default, this will be captured by the max of the feature

In [29]:
#Create a dataframe with the sum of values in D_42
train_compressed = pd.DataFrame(train.groupby('customer_ID')['D_42'].sum())

train_compressed

                                                        D_42
customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fb...  0.000000
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db...  0.000000
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef...  0.000000
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773...  0.000000
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe...  0.000000
...                                                      ...
ffeea21b8f17b728c561de93ea61e75547dd0216b36beba...  0.000000
ffeec9a34770713d0c488435fbff21db356407c98d9ddb3...  0.000000
fff17a28a4594efc934648f3c33d295d452d61e2bda01df...  0.309817
fffee056e120fb326c9413fca5a7ab6618cc49be9bb6b19...  0.000000
ffff41c8a52833b56430603969b9ca48d208e7c192c6a40...  0.000000

[39007 rows x 1 columns]

In [31]:
#Rewrite the D_42 to be a binary feature
train_compressed['D_42'].where(train_compressed['D_42'] == 0, other=1, inplace=True)

In [32]:
#Check the feature was encoded successfully
train_compressed['D_42'].value_counts()

0.0    29504
1.0     9503
Name: D_42, dtype: int64

In [36]:
#Rename the column so I don't run into issues later
train_compressed.rename(columns = {'D_42': 'D_42_has_value'}, inplace=True)

In [38]:
#Encode another binary feature if D_49 has all nulls or not
train_compressed['D_49_has_value'] = train.groupby('customer_ID')['D_49'].sum()
train_compressed['D_49_has_value'].where(train_compressed['D_49_has_value'] == 0, other=1, inplace=True)

## Has value features

These features are engineered based on visuals generated in the explore notebook. Accounts that defaulted were more likely to contain values in these columns compared to accounts that did not. I engineered a binary feature to capture this difference: accounts with any values in these columns receive a 1 for the new feature, and accounts with all null values receive a 0.

These features were also engineered for a number of columns below: D_134 through D_138.

In [40]:
#Check my work
train_compressed.value_counts()

D_42_has_value  D_49_has_value
0.0             0.0               26164
1.0             0.0                7481
0.0             1.0                3340
1.0             1.0                2022
dtype: int64

In [56]:
#Use boolean masking to extract values from the initiation of the accounts
train[train['age'] == 0]

,customer_ID,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target,age
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0,0
13,0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57d...,0.186780,0.031711,1.322087,0.031390,0.503705,NaN,0.005791,0.302251,NaN,...,NaN,0.006816,0.007206,0.001205,NaN,0.001641,0.009779,0.003469,1,0
15,0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fce...,0.894418,0.004118,0.033057,1.008730,0.007307,0.124982,0.009818,0.005820,NaN,...,NaN,0.000509,0.002369,0.006635,NaN,0.004801,0.007635,0.002405,0,0
28,0007ee1ac8edb6be588c6c8a158d2268e3228c49cf5277...,0.646557,0.003862,0.085111,0.029056,0.006952,0.160581,0.000100,0.354253,NaN,...,NaN,0.005353,0.006249,0.003429,NaN,0.003763,0.007334,0.000766,0,0
41,0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194f...,0.752942,0.008783,0.005122,0.818868,0.006974,NaN,0.004844,0.001051,NaN,...,NaN,0.008488,0.008163,0.002139,NaN,0.002698,0.007280,0.007410,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470690,ffeea21b8f17b728c561de93ea61e75547dd0216b36beb...,0.855995,0.095025,0.019828,1.001354,0.004495,0.080931,0.000439,0.001255,NaN,...,NaN,0.002687,0.004497,0.007602,NaN,0.001353,0.007123,0.008304,0,0
470703,ffeec9a34770713d0c488435fbff21db356407c98d9ddb...,0.717607,0.181341,0.019271,1.008440,0.000470,0.063539,0.007499,0.011708,NaN,...,NaN,0.006668,0.001197,0.008007,NaN,0.002851,0.008736,0.005548,0,0
470716,fff17a28a4594efc934648f3c33d295d452d61e2bda01d...,0.823065,0.441546,0.104008,0.816741,0.005200,0.473839,0.001740,0.001823,0.032332,...,NaN,0.009896,0.004656,0.006274,NaN,0.007027,0.009059,0.005885,0,0
470729,fffee056e120fb326c9413fca5a7ab6618cc49be9bb6b1...,0.839199,0.008470,0.046630,0.818442,0.005582,0.171598,0.009255,0.009283,NaN,...,NaN,0.004080,0.002133,0.008817,NaN,0.005329,0.005269,0.007182,0,0
470731,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,0.859869,0.097730,0.006084,1.000690,0.009374,0.106511,0.008502,0.007879,NaN,...,NaN,0.009985,0.005864,0.000090,NaN,0.001687,0.009154,0.004053,0,0

In [72]:
#Capture the maximum age for each customer
train.groupby('customer_ID')['age'].max()

customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    369
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db3b97d1da2eb6c7cab     31
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef78973c468916fdfc9    379
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773d168012076c118e5f    367
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe9c7827dac8bcf0b5c    365
                                                                   ...
ffeea21b8f17b728c561de93ea61e75547dd0216b36beba487c9ab3efa985fd5    383
ffeec9a34770713d0c488435fbff21db356407c98d9ddb37b535caa87979c61c    365
fff17a28a4594efc934648f3c33d295d452d61e2bda01df4b13952f48dfa1175    382
fffee056e120fb326c9413fca5a7ab6618cc49be9bb6b19c34f3fb13fd50fdd3      4
ffff41c8a52833b56430603969b9ca48d208e7c192c6a4081a6acc28cf4f8af7    376
Name: age, Length: 39007, dtype: int64

In [79]:
#Generate a boolean mask for maximum age
train.groupby('customer_ID')['age'].transform(max) == train['age']

0         False
1         False
2         False
3         False
4         False
          ...
470739    False
470740    False
470741    False
470742    False
470743     True
Name: age, Length: 470744, dtype: bool

In [82]:
#Use my boolean mask on a column of interest
train[train.groupby('customer_ID')['age'].transform(max) == train['age']]['D_55']

12        0.187285
14        0.647305
27        0.076347
40        0.963476
53        0.086070
            ...
470702    0.126955
470715         NaN
470728    0.037757
470730    0.047249
470743    0.035347
Name: D_55, Length: 39007, dtype: float64

In [88]:
#Use the same boolean masking technique for values at the beginning of an account
train[train.groupby('customer_ID')['age'].transform(min) == train['age']]['D_55']

0         0.354596
13        0.562598
15        0.055273
28        0.732038
41        0.764165
            ...
470690    0.351557
470703         NaN
470716    0.005880
470729    0.055842
470731    0.142533
Name: D_55, Length: 39007, dtype: float64

In [89]:
#Create a new column of the difference between D_55 at the end and beginning of an account
train_compressed['D_55_change'] = train[train.groupby('customer_ID')['age'].transform(max) == train['age']]['D_55'].to_numpy() - train[train.groupby('customer_ID')['age'].transform(min) == train['age']]['D_55'].to_numpy()

In [90]:
#Check my work
train_compressed.head()

,D_42_has_value,D_49_has_value,D_55_change
customer_ID,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.0,0.0,-0.167311
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db3b97d1da2eb6c7cab,0.0,0.0,0.084707
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef78973c468916fdfc9,0.0,0.0,0.021074
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773d168012076c118e5f,0.0,1.0,0.231439
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe9c7827dac8bcf0b5c,0.0,0.0,-0.678095

## Change features

The change features capture the change in a variable over the lifespan of the account. It's calculated by subtracting the initial value for a feature from the final value. Accounts that defaulted showed a clear positive trend in these features over time. Accounts that did not default had weak positive or neutral trends. By subtracting the initial value from the final one, I am able to capture this change in value over time.

Applied this analysis to B_16 and B_20 below.

In [91]:
#Create a list of columns I wish to encode in a similar manner
del_binary_encode = ['D_134', 'D_135', 'D_136', 'D_137', 'D_138']

In [92]:
#Use a basic for loop to encode the "has_value" feature for my columns of interest
for col in del_binary_encode:
    train_compressed[col + '_has_value'] = train.groupby('customer_ID')[col].sum()
    train_compressed[col + '_has_value'].where(train_compressed[col + '_has_value'] == 0, other=1, inplace=True)

In [93]:
#Check my work
train_compressed.head()

,D_42_has_value,D_49_has_value,D_55_change,D_134_has_value,D_135_has_value,D_136_has_value,D_137_has_value,D_138_has_value
customer_ID,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.0,0.0,-0.167311,0.0,0.0,0.0,0.0,0.0
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db3b97d1da2eb6c7cab,0.0,0.0,0.084707,0.0,0.0,0.0,0.0,0.0
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef78973c468916fdfc9,0.0,0.0,0.021074,0.0,0.0,0.0,0.0,0.0
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773d168012076c118e5f,0.0,1.0,0.231439,0.0,0.0,0.0,0.0,0.0
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe9c7827dac8bcf0b5c,0.0,0.0,-0.678095,0.0,0.0,0.0,0.0,0.0

In [96]:
#Create a looping function to calculate the change in values over the lifespan of an account
b_slope_encode = ['B_16', 'B_20']

for col in b_slope_encode:
    train_compressed[col + '_change'] = train[train.groupby('customer_ID')['age'].transform(max) == train['age']][col].to_numpy() - train[train.groupby('customer_ID')['age'].transform(min) == train['age']][col].to_numpy()

In [97]:
#Check my work
train_compressed.head()

,D_42_has_value,D_49_has_value,D_55_change,D_134_has_value,D_135_has_value,D_136_has_value,D_137_has_value,D_138_has_value,B_16_change,B_20_change
customer_ID,,,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.0,0.0,-0.167311,0.0,0.0,0.0,0.0,0.0,-0.001258,0.002900
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db3b97d1da2eb6c7cab,0.0,0.0,0.084707,0.0,0.0,0.0,0.0,0.0,0.090989,0.061401
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef78973c468916fdfc9,0.0,0.0,0.021074,0.0,0.0,0.0,0.0,0.0,-0.088392,-0.008695
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773d168012076c118e5f,0.0,1.0,0.231439,0.0,0.0,0.0,0.0,0.0,0.002171,0.004207
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe9c7827dac8bcf0b5c,0.0,0.0,-0.678095,0.0,0.0,0.0,0.0,0.0,-0.002616,-0.000587