# Imputation Function

In [1]:
import pandas as pd

In [2]:
X_df = pd.read_csv('../../data/prepared/train_data.csv')
X_df

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470739,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2017-11-06,0.730505,0.589866,0.051951,1.008380,0.008432,0.137431,0.000815,0.004927,...,NaN,NaN,NaN,0.005826,0.002661,0.006540,NaN,0.002191,0.001231,0.007120
470740,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2017-12-03,0.833949,0.005199,0.013103,1.005107,0.001183,0.134598,0.003260,0.001333,...,NaN,NaN,NaN,0.009753,0.009238,0.006315,NaN,0.009012,0.000864,0.005220
470741,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-01-16,0.837949,0.008265,0.013163,1.007224,0.005757,0.133852,0.005954,0.007394,...,NaN,NaN,NaN,0.008494,0.001622,0.009657,NaN,0.005007,0.008420,0.002532
470742,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-02-23,0.812465,0.002464,0.016056,1.003230,0.007137,0.136428,0.000088,0.009943,...,NaN,NaN,NaN,0.009720,0.009944,0.001952,NaN,0.007779,0.005021,0.005594
470743,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-03-31,0.844229,0.447585,0.028515,1.009867,0.001928,0.128707,0.003482,0.005893,...,NaN,NaN,NaN,0.007917,0.001520,0.005530,NaN,0.001430,0.003009,0.004843

In [3]:
y_df = pd.read_csv('../../data/prepared/train_labels.csv')
y_df

                                             customer_ID  target
0      e039c846adcb1bfd543d89b8beba6a0f1a2ecdf835cd22...       0
1      8a96ff0aacb31ab4aab4cd15f13e024c04f986b8926789...       0
2      cfe6ef5945ef9c04937bb1826ec350ae7f2d173867f7fe...       0
3      9b677e823a94355cf65d2b97930dd59fce82cbf69e82b8...       1
4      d48853a03d0d463a4b058d129453daaf530160ccc4f0c2...       0
...                                                  ...     ...
39002  79d17f1e1bee31fe1e1f9f6c69cadb8d1c9f6d6f7b9071...       0
39003  5bb1b40a1b26232d9140b8cab0f26639a54d2af554f6f6...       0
39004  8edaca5e3bfb75028c71f11b38d0cb1d7e2565277ec909...       1
39005  8d0f928ebe331f7e9bcf6b4bfed6f305328ebdebe8b7f4...       0
39006  636668de4796b40afae2bcd39f01a803f491effa499bec...       0

[39007 rows x 2 columns]

## Catagorical Imputation Function

In [5]:
def impute_categorical_columns(df):

    cat_columns = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']

    for column in cat_columns:

        if pd.api.types.is_numeric_dtype(df[column]):

            impute_value = df[column].value_counts().index.max() + 1

            df[column] = df[column].fillna(impute_value)

        else:

            impute_value = 'Unknown'

            df[column] = df[column].fillna(impute_value)
            
    return df

In [6]:
impute_categorical_columns(X_df)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470739,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2017-11-06,0.730505,0.589866,0.051951,1.008380,0.008432,0.137431,0.000815,0.004927,...,NaN,NaN,NaN,0.005826,0.002661,0.006540,NaN,0.002191,0.001231,0.007120
470740,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2017-12-03,0.833949,0.005199,0.013103,1.005107,0.001183,0.134598,0.003260,0.001333,...,NaN,NaN,NaN,0.009753,0.009238,0.006315,NaN,0.009012,0.000864,0.005220
470741,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-01-16,0.837949,0.008265,0.013163,1.007224,0.005757,0.133852,0.005954,0.007394,...,NaN,NaN,NaN,0.008494,0.001622,0.009657,NaN,0.005007,0.008420,0.002532
470742,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-02-23,0.812465,0.002464,0.016056,1.003230,0.007137,0.136428,0.000088,0.009943,...,NaN,NaN,NaN,0.009720,0.009944,0.001952,NaN,0.007779,0.005021,0.005594
470743,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-03-31,0.844229,0.447585,0.028515,1.009867,0.001928,0.128707,0.003482,0.005893,...,NaN,NaN,NaN,0.007917,0.001520,0.005530,NaN,0.001430,0.003009,0.004843

In [ ]:
null_dict = {
    'total_nulls': X_df.drop(columns='customer_ID').isna().sum(),
    'percent_nulls': X_df.drop(columns='customer_ID').isna().sum() / X_df.shape[0],
}

null_df = pd.DataFrame.from_dict(null_dict)
null_df

       total_nulls  percent_nulls
S_2              0       0.000000
P_2           3937       0.008363
D_39             0       0.000000
B_1              0       0.000000
B_2            188       0.000399
...            ...            ...
D_141         8390       0.017823
D_142       389671       0.827777
D_143         8390       0.017823
D_144         3376       0.007172
D_145         8390       0.017823

[189 rows x 2 columns]

## Imputation of Continuous Variables with less than 10% nulls